body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
#header{
height: 30px;
}
.link-header a{
    text-decoration: none;
    font-weight: bold;
    color: #3C3C3C ;
}
.link-header{
    float:right;
    padding-right: 5px;
    margin-right: 50px;
    margin-top: 2%;
}
.half-width{
float: left;
width: 40%;
padding-left:2%;
margin-left: 3%;
}
.half-width img{
    width: 100%;
}
.salmon-highlight{
    color: salmon;
}
h1{
    font-size: 80px;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    line-height:75px;
    margin:2px 0px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
   background-image: linear-gradient(45deg,lightcoral,coral);
    border-radius: 5px;
    color: white;
    margin-top: 112px;
}

#project h1{
    margin: 10% 0%;
    text-align: center;
    

}
#project{
    margin-top: 80%;
    margin-bottom: 5%;
    background-color:#E5E5E5;
    padding-bottom: 40%;
    padding-top: 5px;
}
h3{
    font-size: 24px;
    color: gray;
}
.one-third-width{
    width: 25%;
    margin-left: 3.2%;
    padding: 2%;
    float: left;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height:450px;
    background-color: white;

    
}
.one-third-width img{
    height: 210px;
    width: 340px;
    display: block;
    margin: auto;

}
p{
    text-align: justify;
}
#work-inquiry{
    background-image:url("background/bg.png");
    float: left;
    width: 906px;
    height: 225px;
    margin-left: 25%;
    margin-right: 30%;
    margin-bottom: 5%;
    
}
#inquiry-title{
    color: white;
    margin-top: 22%;
    margin-left: 7%;
    font-size: 60px;
}
#chat-button{
position: relative;
top: 100px;
left: 300px;
}
.bottom-lines{
    text-align: center;
}
h2{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif ;
}

.bottom-icon{
float: left;
width: 25%;
margin-left: 10px;
}
#bottom-part{
    height: 40px;
    width: 170px;
    margin-left: 45%;
    margin-right: 30%;
}